            * {
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Roboto', ;
                font-weight: 400;
            }
            
            .container {
                max-width: 1030px;
                padding-left: 15px;
                padding-right: 15px;
                margin: 0 auto;
            }
            
            .hader {
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                padding-top: 110px;
            }
            
            .hader__inner {
                text-align: center;
                width: 530px;
                height: 530px;
                border-radius: 50%;
                background-color: #fff;
                border: 10px solid #f4d4a5;
                padding-top: 13px;
                /*делаем отступ с верху груга  опусаем этим самым зел домик*/
                padding-bottom: 160px;
                margin-left: 160px;
            }
            
            .hader__name {
                padding-top: 12px;
                /*делаем отступ с верху от зел домика делаем отступ для домика снизу*/
                text-transform: uppercase;
                font-family: 'Lato', ;
                font-weight: 700;
                font-size: 35px;
                margin-bottom: 15px;
                color: #bf4200;
            }
            
            .phone {
                font-family: 'Roboto', ;
                font-weight: 300;
                font-size: 35px;
                margin-bottom: 40px;
                text-decoration: none;
                color: #000;
                display: inline-block;
            }
            
            .header__title {
                text-transform: uppercase;
                color: #1fad26;
                font-weight: 700;
                padding: 0px 5px;
                font-size: 50px;
            }
            
            .header__sale {
                margin-top: 40px;
            }
            
            .main {
                text-align: center;
                padding-top: 60px;
            }
            
            .container {}
            
            .maine__title {
                margin-bottom: 60px;
                font-size: 41px;
                color: #d07a2d;
                font-weight: 500;
            }
            
            .main__text {
                font-size: 30px;
            }
            
            .main__text span {
                font-weight: 700;
            }
            
            .main__img {
                padding: 90px 0;
            }
            
            .proiect {}
            
            .project__title {
                margin-bottom: 110px;
                font-size: 41px;
                color: #d0662d;
                font-weight: 700;
            }
            
            .project__item {
                font-family: 'Roboto', ;
                font-size: 25px;
            }
            
            .project__name {
                font-size: 32px;
            }
            
            .project__size {}
            
            .project__area {}
            
            .project__price {
                margin-bottom: 35px;
                color: #17753b;
            }
            
            .project__images {}
            
            .project__images-item {}
            
            .download {
                margin-top: 200px;
                background-color: #f1dfbc;
            }
            
            .FROG-icon . {}
            
            .FROG-icon img {
                padding-top: 40px;
                ;
            }
            
            .FROG-icon p {
                padding-bottom: 40px;
                margin-top: 0;
            }
            
            .FROG-icon a {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                border-bottom: 1px solid #fff;
                font-size: 32px;
                background-color: #17753b;
                border: 5px solid #effd15;
                padding: 30px 67px;
            }
            
            .gallery_title {
                text-transform: uppercase;
                padding-top: 100px;
                padding-bottom: 40px;
                font-weight: 700;
                color: #d07a2d;
                font-size: 41px;
            }
            
            .gallery__text {
                padding-bottom: 50px;
                font-size: 25px;
            }
            
            .gallery__inner {
                /*УБИРАЕМ РАССТОЯНИЯ ВОКРУГ ФОТОК*/
                display: flex;
                flex-wrap: wrap;
            }
            
            .gallery__inner ing {
                /*УБИРАЕМ РАССТОЯНИЯ ВОКРУГ ФОТОК*/
                display: block;
            }
            
            .footer {
                text-align: center;
            }
            
            .footer.phone {
                font-weight: 700;
            }
            
            .footer__imail {
                padding-top: 40px;
                padding-bottom: 150px;
                color: #2f8bc5;
                font-size: 30px;
                font-weight: 300;
                border-bottom: 1px solid #2f8bc5;
            }