@media (max-width: 970px) {
    .header__menu-btn {
        display: block;
    }
    .header__menu ul {
        display: none;
        position: absolute;
        z-index: 2;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        cursor: pointer;
        border-bottom: 5px solid #e8663c;
    }
    .header__menu li {
        display: block;
        text-align: center;
    }
    .header__menu li+li {
        margin-left: 0;
    }
    .header__menu a {
        padding: 12px 0 12px 11px;
        display: block;
    }
    .header__menu li+li a {
        border-top: 1px solid #e8663c;
    }
    .header__menu li a:hover {
        background-color: #e8663c;
        color: #fff;
        opacity: 0.7;
    }
    .slick-arrow {
        display: none;
    }
    .slider-nav {
        display: none;
    }
    .item {
        margin-bottom: 20px;
    }
    .info__item {
        flex-wrap: wrap;
    }
}

@media(max-width: 950px) {
    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__content {
        padding-right: 15px;
        padding-left: 15px;
        width: auto;
        text-align: center;
    }
    .footer__info {
        width: 100%;
        text-align: center;
    }
    .footer__contats {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: -11px;
        width: auto;
        text-align: center;
    }
    .footer__social {
        justify-content: space-between;
    }
}

@media(max-width: 706px) {
    .items__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .info__item {
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 610px) {
    .item {
        padding-left: 20px;
        width: 100%;
    }
    .item a {
        margin-top: 20px;
    }
}

@media(max-width: 470px) {
    .slider__item-title {
        max-width: 100%;
        left: 0;
        bottom: 0;
    }
}