html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/Bebas.woff2') format('woff2'), url('../fonts/Bebas.woff') format('woff'), url('../fonts/Bebas.ttf') format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetiсa';
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('ttf');
    font-weight: normal;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.header__menu li {
    display: inline-block;
}

.header {
    background-color: #fff;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 22px 0;
    font-family: 'bebas';
}

.header__logo a {
    color: #e8663c;
    font-size: 36px;
}

.header__logo a span {
    opacity: 0.5;
}

.header__menu li+li {
    margin-left: 30px;
}

.header__menu a {
    color: #b9b9b9;
    font-size: 16px;
}

.header__menu a:hover {
    color: #e8663c;
    transition: all .3s;
}

.header__menu-btn {
    width: 30px;
    display: none;
}

.header__minu-row {
    width: 100%;
    background-color: #000;
    height: 4px;
    margin-bottom: 4px;
}

.slick-arrow {
    position: absolute;
    top: 155px;
    display: inline-block;
    width: 36px;
    height: 52px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.slick-arrow:hover {
    opacity: 0.7;
}

.slick-next {
    right: 25px;
    background-image: url("../images/next-arrow.png");
}

.slick-prev {
    left: 25px;
    background-image: url("../images/prev-arrow.png");
}

.slider__item {
    min-height: 400px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slider__item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.slider__item-title {
    width: 415px;
    background-color: rgba(232, 102, 60, 0.8);
    position: absolute;
    left: 35px;
    bottom: 35px;
    padding: 25px 0 25px 20px;
}

.title {
    font-family: 'bebas';
    color: #fff;
    font-size: 18px;
}

.content {
    font-family: 'Helvetiсa';
    color: #fff;
    font-size: 12px;
}

.slider-nav {
    margin-top: 20px;
}

.slider-nav img {
    width: 140px !important;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

.items__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.item {
    width: 280px;
    padding-left: 15px;
}

.items__inner-title {
    max-width: auto;
    font-size: 18px;
    line-height: 24px;
    color: #e8663c;
    font-family: 'bebas';
    position: relative;
    padding-left: 70px;
}

.item__icon {
    position: absolute;
    top: 0;
    left: 0;
}

.items__inner-text {
    margin-top: 35px;
    font-family: 'Helvetiсa';
    font-size: 12px;
    line-height: 18px;
    color: #717171;
}

.item a {
    margin-top: 40px;
    padding: 4px 14px;
    color: #fff;
    font-family: 'bebas';
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #e8663c;
    background-color: #e8663c;
    align-content: center;
}

.info__inner {
    margin-top: 50px;
}

.info__inner-title {
    background-image: url(../images/line-bg.jpg);
    font-family: 'bebas';
    font-size: 18px;
    color: #e8663c;
}

.info__inner-title span {
    padding-right: 20px;
    background-color: #fff;
    display: inline-block;
}

.info__item {
    display: flex;
    justify-content: space-between;
}

.info__inner-picture {
    margin-top: 30px;
    font-family: 'bebas';
}

.info__inner-picture a {
    padding-top: 15px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #b9b9b9;
}

.info__inner-info {
    margin-bottom: 50px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    padding: 0 0 15px 15px;
}

.info__title {}

a.date {
    padding-top: 8px;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    color: #e8663c;
}

.footer__inner {
    background-color: #e8663c;
    display: flex;
    justify-content: space-between;
    font-family: 'Helvetiсa';
    font-size: 12px;
    color: #fff;
    padding-bottom: 40px;
}

.footer__title {
    padding-top: 40px;
    font-family: 'bebas';
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.footer__content {
    width: 260px;
    margin-left: 35px;
}

.footer__info {
    width: 217px;
    margin-left: 50px;
}

.footer__info span {
    opacity: 0.5;
}

.footer__info a {
    text-decoration: none;
    color: #fff;
}

.footer__contats {
    width: 253px;
    margin-right: 35px;
}

.footer__contats a {
    text-decoration: none;
    color: #fff;
}

.footer__emaile {
    margin-top: 20px;
}

.footer__phone {
    margin-bottom: 20px;
}

.footer__social {
    display: flex;
}

.footer__social li+li {
    padding-left: 7px;
}

.slider__inner {
    position: relative;
}

.slider__inner::after,
.slider__inner::before {
    content: "";
    position: absolute;
    background-color: #f1ad9b;
    height: 60px;
    width: 100%;
}

.slider__inner::after {
    left: 100%;
    margin-left: 10px;
    top: 0;
}

.slider__inner::before {
    right: 100%;
    margin-right: 10px;
}

.footer__inner {
    position: relative;
}

.footer__inner::after,
.footer__inner::before {
    content: "";
    position: absolute;
    background-color: #f1ad9b;
    height: 100%;
    width: 100%;
}

.footer__inner::after {
    left: 100%;
    margin-left: 10px;
    top: 0;
}

.footer__inner::before {
    right: 100%;
    margin-right: 10px;
}